<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/Assignment_3_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Question 1**

In [58]:
import random
count=-1                      # count= - 1 to start counting at 0 and get 10 numbers. If count=0, the first kine would have 9 numbers
for i in range(10):                       
    for j in range(10):       # we create two for loop of 10 to get 100 numbers. We can also use range(100) instead
      count= count+1
      if count%10==0:         # we create a "if" loop to have a new line every 10 numbers
        print("\n")
      print(random.randint(0,9),end=" ")  # we choose numbers randomly selected from 0 to 9 displayed in the same line

9 7 4 0 9 6 9 6 6 5

9 6 0 3 4 6 8 1 9 8

7 6 3 8 7 8 1 1 9 8

2 8 5 8 1 4 8 2 2 8

8 1 1 0 0 1 0 5 4 7

9 2 6 8 0 2 6 0 6 0

2 2 4 9 9 3 7 8 7 9

4 6 3 7 9 9 7 7 1 3

7 7 3 1 5 3 9 6 4 6

2 4 0 1 9 4 4 8 3 9

#**Question 2**

In [27]:
import random
count=-1      #
for i in range(100):
      count= count+1
      if count%10==0:
        print("\n")
      number=random.randint(0,9)
      if number %2 ==1:                # if condition to change odd numbers into @
        print('@', end=" ")
      else:
        print(number, end=" ")

4 @ @ 6 @ @ @ 6 0 @

8 4 @ 8 @ 0 6 0 @ @

0 @ 8 2 @ 6 @ 4 4 @

@ @ 6 @ 2 6 @ 6 8 @

0 8 6 @ @ @ @ 8 2 @

8 @ @ 0 @ 4 @ @ @ 2

@ @ 8 @ 6 8 6 @ 2 8

0 2 @ @ 0 @ @ 8 @ 0

2 6 @ 8 @ @ 6 0 4 8

@ @ 0 2 @ 4 @ 8 2 @

#**Question 3**

In [42]:
import random
count=0
sum=0    
for i in range(100):
      count= count+1
      
      number=random.randint(0,9)
      print(number, end=" ")
      sum=sum+number
      if count%10==0:
        print("* "+str(sum))                # we add the * and the sum of the row every 10 numbers
        sum=0
      if count%10==0:
        print("\n")

0 1 1 4 5 7 5 6 3 1 * 33


7 2 0 6 4 7 3 8 7 5 * 49


2 5 4 4 6 8 0 8 1 8 * 46


7 0 4 9 6 3 8 3 8 3 * 51


6 0 8 4 2 0 0 1 4 7 * 32


2 0 6 0 3 8 0 2 2 7 * 30


3 5 5 1 6 7 4 8 9 3 * 51


7 3 5 5 1 3 4 0 2 3 * 33


2 3 6 1 8 0 4 2 9 4 * 39


6 2 2 0 3 2 9 6 1 7 * 38