<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/Assignment_4_690.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 04
1. Write code to open the text file [census_cost.txt](census_cost.txt) and read all lines into a list named **"line_list"**. Print line_list.
2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.
3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.
4. Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. Remove the "*" from the last element "2010*". Print the cleansed year_list.
5. Extract the **"Total Population"** column from the data_list and assign them to a list named **"pop_list"**. Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".
6. Extract the **"Census Cost"** column from the data_list and assign them to a list named **"cost_list"**. Remove the ",", and "$", and "Billion".

Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.  
7. Extract the **"Average Cost per Person"** column from the data_list and assign them to a list named **"avg_list"**. Remove the "cents", and "$".
Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.
8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in 
comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.
9. Open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

#**Question 1**

In [9]:
#Write code to open the text file census_cost.txt and read all lines into a list named "line_list". Print line_list.

with open ("data-census1.txt", "rt") as f:
  line_list=f.readlines()
  print(line_list, type)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n'] <class 'type'>

#**Question 2**

In [19]:
#Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

with open ("top2_list.txt", "wt") as f:
  for line in line_list[0:2]:
    f.write(line)
    print(line)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

#**Question 3**

In [11]:
#Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

with open ("data_list.txt", "wt") as f :
  for line in line_list[2:]:
    f.write(line)

In [20]:
with open("data_list.txt", "rt") as f:
  data_list=f.readlines()
  print(data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

#**Question 4**

In [25]:
#Extract the column "Census Year" from data_list and assign them to a list named year_list. 
#Remove the "*" from the last element "2010*". Print the cleansed year_list.


with open ("year_list.txt", "wt") as f:
  for row in data_list:
    year=row.split('\t')[0].replace('*', "")
    f.write(year+'\n')   # \n to have separate line in the file
    print(year, type(year))

1790 <class 'str'>
1800 <class 'str'>
1810 <class 'str'>
1820 <class 'str'>
1830 <class 'str'>
1840 <class 'str'>
1850 <class 'str'>
1860 <class 'str'>
1870 <class 'str'>
1880 <class 'str'>
1890 <class 'str'>
1900 <class 'str'>
1910 <class 'str'>
1920 <class 'str'>
1930 <class 'str'>
1940 <class 'str'>
1950 <class 'str'>
1960 <class 'str'>
1970 <class 'str'>
1980 <class 'str'>
1990 <class 'str'>
2000 <class 'str'>
2010 <class 'str'>

#**Question 5**

In [15]:
#Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". 
#Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

with open("pop_list.txt", "wt") as f:
  for row in data_list:
    pop=row.split('\t')[1].replace(",","")
    f.write(pop+'\n')
    print(pop)

3929214
5308483
7239881
9633822
12866020
17069458
23191876
31443321
38558371
50155783
62979766
76303387
91972266
105710620
122775046
131669275
151325798
179323175
203302031
226542199
248718301
281421906
308745538

#**Question 6**

In [16]:
#Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list".
#Remove the ",", and "$", and "Billion".

with open ("cost_list.txt", "wt") as f:
  for row in data_list:
    cost=row.split('\t')[2].replace(",","").replace("$","")
    if cost.find("Billion") !=-1:
      cost=cost.replace("Billion"," ")
      ent_dec=str(float(cost)).split(".")   # remove unnecessary 0's by creating a float (ex: 14.500= 14.5)
      puissance=9
      puissance=puissance-len(ent_dec[1]);
      cost=str(int(ent_dec[0]+ent_dec[1])*10**puissance)
    f.write(cost+'\n')
    print(cost)

44377
66109
178445
208526
378545
833371
1423351
1969377
3421198
5790678
11547127
11854000
15968000
25117000
40156000
67527000
91462000
127934000
247653000
1078488000
2492830000
4500000000
13000000000

#**Question 7**

In [17]:
#Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". 
#Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar.
#Print the cleansed avg_list.

with open ("avg_list.txt", "wt") as f:
 for row in data_list:
  avg=row.split('\t')[3].replace("$","").replace("\n","")
  if avg.find("cents") !=-1:
    avg=avg.replace("cents", "")
    avg=round(float(avg)/100,4)
  f.write(str(avg)+'\n')
  print(avg)

0.0113
0.0124
0.0246
0.0216
0.0294
0.0488
0.0614
0.0626
0.0887
0.1154
0.1833
0.1554
0.1707
0.2376
0.3271
0.5129
0.6044
0.7134
1.22
4.76
10.02
15.99
42.11

#**Question 8**

In [18]:
#Coalesce the cleansed data and save them to a text file named "census_cost.csv". 
#The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. 
#The top two lines from the original file should be retained in the new file.

with open ("top2_list.txt", "rt") as top2:
  top2_list=top2.readlines()[1];
  #print(top2_list)
with open ("year_list.txt","rt") as year:
  year_list=year.readlines();
  #print(year_list)
with open("pop_list.txt","rt") as pop:
  pop_list=pop.readlines();
  #print(pop_list)
with open("cost_list.txt", "rt") as cost:
  cost_list=cost.readlines();
  #print(cost_list)
with open ("avg_list.txt", "rt") as avg:
  avg_list=avg.readlines();
  #print(avg_list)
with open ("census_gov.csv", "wt") as final:
  final.write("Source: https://www.genealogybranches.com/censuscosts.html,,,\n")
  #print(top2_list.replace("\t"), ",")
  final.write(top2_list.replace("\t",","))
  for i in range(len(year_list)):
    line=''
    line +=year_list[i].replace('\n', "")
    line +=',' + pop_list[i].replace('\n', "")
    line +=',' + cost_list[i].replace('\n', "")
    line +=',' + avg_list[i]
    print(line)
    final.write(line)

1790,3929214,44377,0.0113

1800,5308483,66109,0.0124

1810,7239881,178445,0.0246

1820,9633822,208526,0.0216

1830,12866020,378545,0.0294

1840,17069458,833371,0.0488

1850,23191876,1423351,0.0614

1860,31443321,1969377,0.0626

1870,38558371,3421198,0.0887

1880,50155783,5790678,0.1154

1890,62979766,11547127,0.1833

1900,76303387,11854000,0.1554

1910,91972266,15968000,0.1707

1920,105710620,25117000,0.2376

1930,122775046,40156000,0.3271

1940,131669275,67527000,0.5129

1950,151325798,91462000,0.6044

1960,179323175,127934000,0.7134

1970,203302031,247653000,1.22

1980,226542199,1078488000,4.76

1990,248718301,2492830000,10.02

2000,281421906,4500000000,15.99

2010,308745538,13000000000,42.11