<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/Assignment_3_final1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Question 1**

In [11]:
import random
# Trial with one row

l1=[]                                # Creation of an empty list
for i in range(10):                  # We want 10 integeres
 l1.append(random.randint(0,9))      # randomly selected from 0 to 9 added to the list

print(l1, type(l1))                  # we have a list

                                     # we want to have numbers without brackets and commas

m1= ""                               # as "print" gives number in a separate line, we create an empty space to print them all in one line
for i in l1:
  m1= m1+ " " + str(i)               # incrementation of strings: it's like count=0 for numbers. We also want to convert i into a string
print(m1, type(m1))                  # We have a string of numbers without

[4, 5, 1, 0, 1, 6, 6, 2, 8, 4] <class 'list'>
 4 5 1 0 1 6 6 2 8 4 <class 'str'>

In [13]:
# Loop for 10 rows
 
L10=[]                               # Creation of an empty list
for i in range(10):                  # Creastion of the 1st loop
  l1=[]                              # Creation of the 2nd loop to have 10 lists inside the main list
  for j in range(10):                # We add the same code as above
    l1.append(random.randint(0,9))
  L10.append(l1)                     # We add the 10 lists into the main list L10   


m10=""

for i in L10:                        # Creation of the 1st loop
  for j in i:                        # Creation of the 2nd loop
    m10= m10+ " "+ str(j)           
  m10= m10+ "\n"                     # Creation of another line every 10 numbers

print(m10)

 5 0 1 5 4 7 6 8 1 1
 5 3 1 3 9 1 5 1 6 0
 1 5 6 8 2 3 2 8 5 7
 0 5 5 3 9 0 6 3 6 8
 7 0 4 7 4 9 7 1 3 9
 0 8 1 5 5 2 5 0 8 2
 5 6 3 4 9 4 7 9 8 8
 2 0 7 9 5 3 3 4 8 3
 9 8 6 7 3 2 7 8 4 4
 5 9 0 2 1 8 6 4 8 7

#**Question 3**#

In [15]:
# Trial with one row

l1=[]                                 # The code is the same as above only for the sum
for i in range(10):
 l1.append(random.randint(0,9))

sum=0                                 # We want the sum of a row
for i in l1:                          # Creation of a loop to calculate the sum
  sum = sum+ int(i)                     # i is a string so we need to change it into an integer

y=l1.append('*')                      # We add a star at the end of the list
y=l1.append(sum)                      # We add the sum at the end of the list

m1= ""
for i in l1:
  m1= m1+ " " + str(i)
print(m1)

 2 3 2 3 6 3 9 4 2 6 * 40

In [18]:
# Loop for 10 rows
import random
L10=[]                                # It is the same process as above
for i in range (10):
  l1=[]
  for j in range(10):
    l1.append(random.randint(0,9))
  L10.append(l1)

sum=0                                 # I have a problem here
for i in L10:
  for j in i:
    sum = sum + int(j)

  y=i.append('*')
  y=i.append(sum)

m10=""
for i in L10:
  for j in i:
    m10= m10+ " "+ str(j)
  m10= m10 + "\n"

print(m10)

 5 3 8 6 9 1 0 5 7 7 * 51
 2 6 0 5 5 1 6 0 6 6 * 88
 4 3 8 6 4 5 4 2 7 3 * 134
 9 1 5 8 4 5 5 2 7 3 * 183
 3 0 9 8 1 4 0 1 2 1 * 212
 1 3 8 7 2 0 3 6 2 9 * 253
 1 1 5 3 8 6 7 1 9 6 * 300
 3 0 9 9 6 7 6 7 4 4 * 355
 1 7 8 0 4 5 0 5 6 0 * 391
 5 8 7 7 9 9 7 9 1 1 * 454

#**Question 2**

In [42]:
# Trial for one row
l1=[]                                # Creation of an empty list
for i in range(10):                  # We want 10 integeres
 l1.append(random.randint(0,9))      # randomly selected from 0 to 9 added to the list
print(l1)


for i in l1:             
  if i%2==1:                         # If loop to have @ if an odd number
    print('@')
  else:
    print(i)

[3, 2, 7, 5, 8, 3, 6, 4, 3, 3]
@
2
@
@
8
@
6
4
@
@

In [49]:
# Loop for 10 rows

import random
L10=[]                                # It is the same process as above
for i in range (10):
  l1=[]
  for j in range(10):
    l1.append(random.randint(0,9))
  L10.append(l1)

for i in L10:
  for j in i:
    if j%2==1:
      print('@')
    else:
     print(j)

@
@
@
@
2
@
@
6
@
@
@
2
8
@
2
4
@
@
@
@
4
@
4
@
@
2
@
@
4
@
@
0
8
@
@
@
@
8
4
@
0
@
4
@
8
8
2
2
8
@
@
@
@
0
@
0
@
6
0
2
@
6
6
@
@
4
@
@
@
0
@
@
2
0
@
6
@
6
2
4
@
4
@
@
@
@
0
@
6
@
@
6
0
4
4
4
6
2
2
6