<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/Assignment_6_690.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assignment 06 - Using Pandas**
Instructions

This assignment is a re-do of assignment 04. We use Pandas and functions instead. It is due Wednesday, Sept 30th.
WYou get to use the simple and convenient read_html() from Pandas to extract HTML tables from web pages.

We had walked through the process during last sesssion. The sample solution is here:

https://github.com/wcj365/python-stats-dataviz/blob/master/pandas_apply.ipynb
You will try to do it on your own and use the sample solution when you get stuck.

Make sure you user Markdown cells to document the process and its steps.
Requirements

Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

Document the data quality issues using a Markdown cell so the reader understands what the problems are.

Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

Use Pandas to read the saved cleansed file and explore to make sure it is clean.
Updload both the Jupyter notebook and the cleanse data file to GitHub and submit the GitHub link in BlackBoard.

Give yourself a pad on the back. Now you get a feel of how wonderful Pandas is and how powerful the combination of apply() and user-defined functions are.

In [1]:
import pandas as pd

In [51]:
df_list = pd.read_html("https://www.genealogybranches.com/censuscosts.html")

In [52]:
df_list
len(df_list)
tab = df_list[0]

In [58]:
#print('Columns \n', tab.columns)
print('\n5 premières lignes\n', tab.head())
print('\n\n', tab.info())

5 premières lignes
 0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 920.0+ bytes


 None

In [55]:
#header = tab.iloc[0]
#tab.columns = header
#tab.drop([0], inplace=True)
tab

5 premières lignes
 0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

Commente

In [18]:
def cleanse_year(year_row):
  return year_row.replace('*', '')

wrong_year = '*19**86*'
valid_year = '2010'
print(cleanse_year(wrong_year))
print(cleanse_year(valid_year))

1986
2010

In [57]:
tab['Census Year'] = tab['Census Year'].apply(cleanse_year)
tab

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

In [67]:
def cost_clean(cost_row):
  cost = cost_row.replace(",", "").replace("$","")
  if cost.find("Billion") !=-1:
    cost=cost.replace("Billion"," ")
    ent_dec=str(float(cost)).split(".")   # remove unnecessary 0's by creating a float (ex: 14.500= 14.5)
    puissance=9
    puissance=puissance-len(ent_dec[1]);
    cost=str(int(ent_dec[0]+ent_dec[1])*10**puissance)
  return cost
#tab['New column'] = tab['Census Cost'].apply(cost_clean)
#tab.drop(columns=['New column'], inplace=True)
tab['Census Cost'] = tab['Census Cost'].apply(cost_clean)
tab

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377              1.13 cents
2         1800          5308483        66109              1.24 cents
3         1810          7239881       178445              2.46 cents
4         1820          9633822       208526              2.16 cents
5         1830         12866020       378545              2.94 cents
6         1840         17069458       833371              4.88 cents
7         1850         23191876      1423351              6.14 cents
8         1860         31443321      1969377              6.26 cents
9         1870         38558371      3421198              8.87 cents
10        1880         50155783      5790678             11.54 cents
11        1890         62979766     11547127             18.33 cents
12        1900         76303387     11854000             15.54 cents
13        1910         91972266     15968000             17.07 cents
14        1920        105710620     25117000             23.76 cents
15        1930        122775046     40156000             32.71 cents
16        1940        131669275     67527000             51.29 cents
17        1950        151325798     91462000             60.44 cents
18        1960        179323175    127934000             71.34 cents
19        1970        203302031    247653000                   $1.22
20        1980        226542199   1078488000                   $4.76
21        1990        248718301   2492830000                  $10.02
22        2000        281421906   4500000000                  $15.99
23        2010        308745538  13000000000                  $42.11

In [71]:
def cleanse_avg(avg_row):
  avg=str(avg_row).replace("$","")    # replace works only with strings. Avg_row is a float so we need to turn it into a string
  if avg.find("cents") !=-1:
    avg=avg.replace("cents", "")
    avg=round(float(avg)/100,4)
  return avg
#tab['New column'] = tab['Average Cost Per Person'].apply(cost_clean)
#tab.drop(columns=['New column'], inplace=True)
tab['Average Cost Per Person'] = tab['Average Cost Per Person'].apply(cleanse_avg)
tab

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                  0.0113
2         1800          5308483        66109                  0.0124
3         1810          7239881       178445                  0.0246
4         1820          9633822       208526                  0.0216
5         1830         12866020       378545                  0.0294
6         1840         17069458       833371                  0.0488
7         1850         23191876      1423351                  0.0614
8         1860         31443321      1969377                  0.0626
9         1870         38558371      3421198                  0.0887
10        1880         50155783      5790678                  0.1154
11        1890         62979766     11547127                  0.1833
12        1900         76303387     11854000                  0.1554
13        1910         91972266     15968000                  0.1707
14        1920        105710620     25117000                  0.2376
15        1930        122775046     40156000                  0.3271
16        1940        131669275     67527000                  0.5129
17        1950        151325798     91462000                  0.6044
18        1960        179323175    127934000                  0.7134
19        1970        203302031    247653000                    1.22
20        1980        226542199   1078488000                    4.76
21        1990        248718301   2492830000                   10.02
22        2000        281421906   4500000000                   15.99
23        2010        308745538  13000000000                   42.11

In [74]:
tab.to_csv('census_cost_cleansed.csv')