<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/Assignment_3_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Question 1**

In [11]:
import random
# Trial with one row

l1=[]                                # Creation of an empty list
for i in range(10):                  # We want 10 integeres
 l1.append(random.randint(0,9))      # randomly selected from 0 to 9 added to the list

print(l1, type(l1))                  # we have a list

                                     # we want to have numbers without brackets and commas

m1= ""                               # as "print" gives number in a separate line, we create an empty space to print them all in one line
for i in l1:
  m1= m1+ " " + str(i)               # incrementation of strings: it's like count=0 for numbers. We also want to convert i into a string
print(m1, type(m1))                  # We have a string of numbers without

[4, 5, 1, 0, 1, 6, 6, 2, 8, 4] <class 'list'>
 4 5 1 0 1 6 6 2 8 4 <class 'str'>

In [ ]:
# Loop for 10 rows
 
L10=[]                               # Creation of an empty list
for i in range(10):
  l1=[]                              # Creation of a loop to have 10 lists inside the main list
  for j in range(10):                # We add the same code as above
    l1.append(random.randint(0,9))
  L10.append(l1)                     # We add the 10 lists into the main list L10   


m10=""

for i in L10:
  for j in l1:

#**Question 3**#

In [3]:
# LINE 1

l1=[]
for i in range(10):
 l1.append(random.randint(0,9))

sum=0

for i in l1:
  sum=sum+ int(i)

y=l1.append('*')
y=l1.append(sum)
m1= ""

for i in l1:
  m1= m1+ " " + str(i)
print(m1)

 7 5 7 5 4 9 7 5 7 2 * 58

In [127]:
import random
# LINE 1

l1=[]
for i in range(10):
 l1.append(random.randint(0,9))

m1= ""

for i in l1:
  m1= m1+ " " + str(i)
print(m1)

 0 8 5 4 8 8 5 9 9 5

In [7]:
x=[]
for i in range(10):
    y=[]
    for j in range(10):
        y.append(random.randint(0,9))
    x.append(y)

print(x) 
space = ""
for i in x:
    for j in i:
        space = space + " " + str(j)
    
    space =  space + "\n"
    
   
print(space)

[[8, 5, 6, 3, 7, 4, 2, 1, 3, 8], [2, 5, 1, 1, 2, 1, 2, 5, 1, 2], [0, 7, 1, 5, 8, 3, 0, 6, 8, 9], [0, 7, 9, 5, 1, 2, 0, 3, 5, 2], [3, 7, 0, 5, 4, 9, 1, 1, 1, 3], [6, 0, 6, 3, 6, 6, 3, 9, 4, 2], [2, 0, 9, 1, 3, 2, 7, 3, 5, 1], [5, 9, 1, 5, 2, 0, 1, 0, 8, 9], [7, 6, 8, 0, 0, 0, 8, 5, 5, 6], [8, 5, 2, 5, 4, 5, 2, 1, 2, 1]]
 8 5 6 3 7 4 2 1 3 8
 2 5 1 1 2 1 2 5 1 2
 0 7 1 5 8 3 0 6 8 9
 0 7 9 5 1 2 0 3 5 2
 3 7 0 5 4 9 1 1 1 3
 6 0 6 3 6 6 3 9 4 2
 2 0 9 1 3 2 7 3 5 1
 5 9 1 5 2 0 1 0 8 9
 7 6 8 0 0 0 8 5 5 6
 8 5 2 5 4 5 2 1 2 1

In [ ]:
space =  space + "\n" #aligné à for

In [137]:
print(space)

 2 9 3 4 9 5 7 5 1 0
 1 6 5 1 7 4 6 8 2 9
 3 7 1 9 4 2 9 8 3 2
 6 9 5 8 6 4 8 2 3 8
 4 7 7 9 0 5 5 7 2 6
 2 7 2 0 0 4 1 5 1 7
 5 6 9 1 1 1 3 5 7 4
 7 0 9 4 2 1 4 9 1 3
 9 2 8 5 3 7 9 6 4 4
 3 3 4 8 1 1 6 1 2 4