<a href="https://colab.research.google.com/github/Tchuissi/DATA-690-WANG/blob/master/week_5_690_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [14]:
df_list= pd.read_html("https://www.genealogybranches.com/censuscosts.html") # it returns a list of dataframe
print(type(df))

<class 'list'>

In [15]:
len(df_list)

2

In [16]:
census_df=df_list[0]
census_df.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [18]:
type(census_df.iloc[0])  # display the first row.

pandas.core.series.Series

In [19]:
list(census_df.iloc[0])   # I want to assign a list to my column so we need to know the type

['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person']

In [20]:
census_df.columns=list(census_df.iloc[0])
census_df.head()

   Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [21]:
census_df.drop(index=0, axis=0, inplace=True)
census_df.head()

  Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

In [ ]:
def cleanse_cost_avg(raw_avg):
  if raw_avg.find("cents") != -1:
    new_avg =raw_avg.replace("cents", "")
  
  elif raw_avg.find("$") !=-1:
    new_avg=raw